.modal .modal-content {
  background-color: transparent;
  border: none;
}
.modal .modal-header {
  color: white;
  height: 120px;
  background: url(../../images/login_register_header.png) no-repeat center top/100%;
  padding: 5rem;
  border: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.modal .modal-header .btn-close {
  width: 0.5rem;
  height: 0.5rem;
  border: 1px solid #000;
  border-radius: 0.3rem;
  background-size: 0.8rem;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  position: absolute;
  right: 70px;
  top: 80px;
}
.modal .modal-body {
  padding: 0.5rem;
  background: url("../../images/login_register_body_02.png") no-repeat center/contain, url("../../images/login_register_body_01.png") repeat-y center/100%;
  margin-top: -10px;
  margin-bottom: -10px;
}
.modal .modal-footer {
  border: none;
  height: 110px;
  padding: 0 5rem;
  background: url("../../images/login_register_footer.png") no-repeat center bottom/100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  button-width: 100%;
  button-margin: 0;
}